<form>
<br>
<h2>Mercati data ora:</h2>
<div>
{{now | moment:"DD/MM/YYYY HH:mm"}}
</div>
<br>
<select name="title" 
    [ngModel]="titoloSelezionato"
    (ngModelChange)="titoloSelezionato=$event; subscribePush(titoloSelezionato.nome)">
    <option [ngValue]="undefined" disabled selected>Seleziona un titolo</option>
  <option [ngValue]="t" *ngFor="let t of titoli">
    {{t.nome}}
  </option>
</select>
{{titoloSelezionato | json}}
</form>
<br>
<b>
    <h2><p appHiglightPushDirective>PUSH example:</p></h2>
    <div #pushTag style="width: 600px;"></div>
  </b>
  <hr>
  <br>
  <br>
  <app-error *ngIf="errorService.errorMsg">
    {{errorService.errorMsg}}
  </app-error>
